

.body {
    max-width: 500px;
    margin: auto;
    background-color: whitesmoke;
    font-family: 'Dosis', sans-serif;
}

.header {
    display: inline-flex;
}

.header img {
    width: 150px;
    border-radius: 90px;
    box-shadow: 5px 5px 20px 2px gray;
    margin-top: 20px;
    margin-left: 20px;
}

.header .portrait h1 {
    margin-left: 20px;
}

.header .portrait hr {
    margin-left: 20px;
    margin-top: -17px;
}

.header .portrait p {
    margin-left: 85px;
    margin-top: -5px;
}

.header .social {
    margin-left: -295px;
    margin-top:80px;
}

.header .social a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}

.header .social a:hover {
    color: rgb(161, 161, 161);
}

.header .social .soc {
    width: 17px;
    height: 17px;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px;
}

.about {
    line-height: 4px;
    text-indent: 10px;
    margin-top: 20px;
    background-color: bisque;
    border-width: 2px;
    border-color: bisque;
    border-radius: 10px;
    border-style: solid;
}

.about h2 {
    margin-bottom: 30px;
}

.hobbies {
    line-height: 20px;
    text-indent: 10px;
    margin-top: 20px;
    background-color: #FFcbc1;
    border-width: 2px;
    border-color: #FFcbc1;
    border-radius: 10px;
    border-style: solid;
}

.hobbies ul {
    list-style: circle;
}

.hobbies li {
    margin-left: -10px;
}

.end hr {
    margin-top: 20px;
}

.end p {
    text-align: center;
    color: gray;
    margin-top: -10px;
}

@media screen and (max-width: 335px) and (min-width: 320px) {

    body {
        font-size: 11px;
    }

    .header img {
        width: 100px;
        border-radius: 90px;
        box-shadow: 5px 5px 20px 2px gray;
        margin-top: 20px;
        margin-left: 20px;
    }

    .header .portrait h1 {
        margin-left: 0px;
    }

    .social p {
        word-wrap: break-word;
    }

    .header .social {
        margin-top: 40px;
        margin-left: -177px;
    }

    .header .social .soc {
        width: 12px;
        height: 12px;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px;
        margin-left: 2px;
    }

    .header .portrait p {
        margin-left: 50px;
    }

    .header .portrait hr {
        margin-left: 0px;
        margin-top: -17px;
    }
}

@media screen and (max-width: 465px) and (min-width: 421px) {

    body {
        font-size: 15px;
    }

    .header img {
        width: 110px;
        border-radius: 90px;
        box-shadow: 5px 5px 20px 2px gray;
        margin-top: 20px;
        margin-left: 20px;
    }

    .header .portrait h1 {
        margin-left: 0px;
    }

    .social p {
        word-wrap: break-word;
    }

    .header .social {
        margin-top: 70px;
        margin-left: -250px;
    }

    .header .social .soc {
        width: 12px;
        height: 12px;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px;
        margin-left: 2px;
    }

    .header .portrait p {
        margin-left: 50px;
    }

    .header .portrait hr {
        margin-left: 0px;
        margin-top: -17px;
    }
}

@media screen and (max-width: 420px) and (min-width: 336px) {

    body {
        font-size: 13px;
    }

    .header img {
        width: 110px;
        border-radius: 90px;
        box-shadow: 5px 5px 20px 2px gray;
        margin-top: 20px;
        margin-left: 20px;
    }

    .header .portrait h1 {
        margin-left: 0px;
    }

    .social p {
        word-wrap: break-word;
    }

    .header .social {
        margin-top: 50px;
        margin-left: -210px;
    }

    .header .social .soc {
        width: 12px;
        height: 12px;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px;
        margin-left: 2px;
    }

    .header .portrait p {
        margin-left: 50px;
    }

    .header .portrait hr {
        margin-left: 0px;
        margin-top: -17px;
    }
}